@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{

    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;

}

html{
    scroll-behavior: smooth;
}

header .menu{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* background-color: aquamarine; */
    height: 60px;
    
    

   
   
}

header .menu .avatar{
   
    color: #0060f1;
    font-size: 28px;
    margin-left: 20px;
    margin: auto 0;
    
}

header nav{
    margin: auto 0;
}

header nav ul li{

    display: inline;
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 20px;
    
    
    
   

}

header nav ul li a{
    text-decoration: none;
    color: #c5c5c5;
    
}
header nav .cv{
    color: white;
    background-color: #0060f1;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    
}

header nav ul li a:hover{
    text-decoration: underline;
    color: black;
    
    transition: all 0.5s ease-in-out;
    
    
}

header #profil{

    display: flex;
    flex-direction: row;
    padding-top: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 700px;
}

header #profil .desc{

    width: 45%;
    margin-left: 30px;
}

header #profil .desc #name{

    margin-bottom: 50px;
    letter-spacing: 3px;
    font-size: 40px;
}

header #profil .desc #name span{

    color: #0060f1;
}

header #profil .desc p{

    font-size: 25px;
    text-align: justify;
    line-height: 1.6;
    color: #69707a;
}

.formation-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parcours{
    
    width: 50%;
}

.parcours .item{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parcours h1{

    margin-bottom: 70px;
    letter-spacing: 3px;
    font-size: 40px;
}

.parcours .item{

   margin-bottom: 60px;
    
}

.parcours .item .item-info h4{

    font-size: 23px;
}

.parcours .item .item-info p{

    line-height: 1.8;
    font-size: 18px;
    color: #69707a;
}

.parcours .item .item-date p{

    color: #0060f1;
    font-size: 18px;
    margin-right: 30px;
}


/* main #formation .parcour .w3, .ista, .bac{

    display: flex;

    justify-content: space-between;

}




main #formation .parcour .w3 h4{

   font-size: 23px;

}

main #formation .parcour .ista{

    margin-top: 45px;
    background-color: green;


}

main #formation .parcour .istap{

    line-height: 1.8;
    font-size: 18px;
    
    background-color: red;
    
 
 }

 main #formation .parcour .istap p{

    color: #69707a;
    
 
 }

 main #formation .parcour .istap h4{

    font-size: 23px;
 
 }

 main #formation .parcour .w3 h4{

    font-size: 23px;
 
 }
 
 main #formation .parcour .w3 .w3p{
 
     line-height: 1.8;
     font-size: 18px;
  
  }

 main #formation .parcour .w3 .w3t p{

    color: #0060f1;
    font-size: 18px;
    margin-right: 30px;
    
   
 
 }



 main #formation .parcour .istat p{

    color: #0060f1;
    font-size: 18px;
    margin-right: 30px;
    width: 100%;
    background-color: yellow;
    
   
 
 }

 main #formation .parcour .w3 p{

    color: #69707a;
 
 } */

 #GALLERY img{

    width: 200px;
 }


header #profil .desc .btns{

    margin-top: 50px;
    
    
}
#bg{
    display: none;
}

header #profil .desc .btns .dcv{

    background: none;
    border: none;
    outline: none;
    background-color: #0060f1;
    color: white;
    height: 65px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    
}

header #profil .desc .btns .cnt{

    background: none;
    border: none;
    outline: none;
    background-color: #dae7fb;
    color: #0060f1;
    font-weight: bold;
    height: 65px;
    width: 200px;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}


header #profil .desc .btns .cnt:hover{

    background: none;
    border: 2px solid #0060f1;
    transition: all 0.3s ease-in-out;
    
  
}

header #profil .desc .btns .dcv:hover{

    
    background: none;
    color: #0060f1;
    
    border: 2px solid #0060f1;
    transition: all 0.3s ease-in-out;
    
}




header .dev{
    width: 45%;
    margin-right: 30px;
    
}

main #formation{
    
    

    padding-top: 30px;

    padding-bottom: 30px;
    
    width: 100%;
    background-color: #f2f6fc;
    min-height: 700px;
}


/* main #formation .parcour{

    width: 50%;
    
     
}

main #formation .parcour h1{
    margin-bottom: 70px;
    letter-spacing: 3px;
    font-size: 40px;
} */



main #formation .pic1{

    transform: rotateY(180deg);
    width: 45%;
}


.burger{
    cursor: pointer;
    display: none;

   
}

.mn{
    width: 33px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}





@media screen and (max-width: 700px) {
    
    .burger{
        display: block;
        
         position: absolute;

         
       

        top: 4.5%;

        right: 0px; 
        
         
        
    }

    header .menu .burger i{
        color: black;
        font-size: 30px;
        transform: rotate(270deg);
        
    }

    .menurotate{


        transform: rotate(180deg);
        transition: all 0.4s ease-in-out;
    }

    .showing{

        width: 300px;
    }

  
    header .menu{
        
        width: 100%;
     
        background-color: #dae7fb;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
     
        
    }

    header .avatar h3{

        
        font-size: 23px;
        position: absolute;

        left: 20px;
        top: 4.5%;
     
        
    }

    header .avatar{

        width: 80%;
      
    
        
    }

  header nav{
      visibility: hidden;
  }

  #profil .dev img{

    display: none;
  }

    
 
    #GALLERY img{
        display: none;
    }

    main #formation{
        display: none;
    }

     #bg{
        /* display: block;
        background-color:#dae7fb;
       position: fixed;
       width: 300px;
       height: 100%;

       
       
        

       border-bottom-right-radius: 20px;

       border-top-right-radius: 20px;

       z-index: 10; */

        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #dae7fb;
        overflow-x: hidden;
        transition: all 0.5s ease-in-out;
        

       
      
    } 

    
    
    
    

    #bg ul li{
        
        
        list-style: none;

        margin-top: 30px;

        font-size: 25px;

       
       
    }

    #bg ul li a{
        text-decoration: none;
        color: #0060f1;
    }


   

}